body {
    margin: 0;
    font-family: 'Press Start 2P', monospace;
    color: #eee;
    line-height: 1.7;
}

#game {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #333;
    overflow: hidden;
}

#game * {
    box-sizing: border-box;
}

div#simon_space {
    position: absolute;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#simon {
    position: relative;
    width: 80%;
    max-width: 30em;
    user-select: none;
}

div#screen {
    position: absolute;
    top: 8%;
    left: 7%;
    width: 72%;
    height: 75%;
    box-shadow: inset 0 0 3em 0em #ffffff;
    background-image: url(images/static_fizzle.gif);
}

.loading div#screen {
    background-image: url(images/static_colors.gif);
}

.playing #screen.showColor {
    background-image: none;
    box-shadow: inset 0 0 50em, inset 100vw 0 #ffffffaa;
}

div#screen_text {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 55%;
    height: 50%;
    overflow: hidden;
}

div#screen_text {
    display: flex;
}

div#screen_text > div {
    display: flex;
    width: 100%;
    height: 100%;
}

div#msg_screen {
    justify-content: center;
    align-items: center;
}

div#simon_msg {
    text-align: center;
    max-width: min-content;
    font-size: 1.7em;
    opacity: .9;
}

div#simon_height {
    padding-top: 75%;
}

#simon img {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}

div#ui_main {
    transform: translateX(-50%) perspective(100vh) rotateX(30deg);
    transform-origin: bottom;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 40em;
    height: 80%;
}
div#userConsole, #menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 85%;
    position: relative;
}
.button {
    flex-grow: 1;
    width: 40%;
    height: 20%;
    border: .2em solid;
    border-top-color: #ffffff66;
    border-left-color: #ffffff33;
    border-right-color: #00000033;
    border-bottom-color: #00000066;
    outline: 1px solid #00000055;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.button:hover {
    border-width: .12em;
    box-shadow: inset 100vw 0 #ffffff33;
}

.button:active {
    box-shadow: inset 0 0 6em, inset 500vw 0 #ffffffaa, 0 0 1.5em -0.2em, 0 0 1em -0.2em #ffffffbb;
    z-index: 10;
}

.button > div {
    color: #fff;
}

#menu .button {
    min-width: min-content;
    font-size: 1.5em;
    padding: 0.5em;
}

#userConsole:not(.playerTurn) {
    pointer-events: none;
}