#msgs {
	padding: 10px;
	background: #dddddd;
	max-height: 10.2em;
	overflow-y: auto;
}
.msg.err { color: red; }


#calendar {
	max-height:	50vh;
	overflow-y: auto;
	margin: 1em auto;
	border: 1px solid #999;
}
.sched-box {
	height: 25px;
	box-sizing: border-box;
}
.sched-box.hr {
	border-top: 2px solid #999;
}
.sched-box.min {
	border-top: 1px solid #bbb;
}